Gemfile.lock -diff
app/assets/javascripts/d3 -diff
app/assets/javascripts/octopress -diff
app/css/screen.css -diff
app/js/d3/d3.layout.js -diff
app/js/d3/d3.v2.js -diff
app/js/d3/d3.js -diff
app/js/d3/d3.v2.min.js -diff
app/js/ender.js -diff
app/js/libs/* -diff
app/js/* -diff