%div
  &raquo;
  Your project becomes part of the
  Creative Commons, where others can
  contribute ideas and suggest improvements
%div
  &raquo;
  Your project is an idea seed, giving birth
  to trees of remixes, spreading through
  communities and trust networks

.open
  .action
    Enter a project website
  %div
    %form{:method => 'post', :action => "/"}
      %div
        %input{:type => 'text', :name => 'url', :class => "big cleardefault", :value => 'http://yourgreatproject.org'}
      %div
        %input{:type => 'submit', :value => 'Open Now', :class => 'big'}
      %div
