!!! 5
/[if IEMobile 7] <html class="no-js iem7">
/[if lt IE 9] <html class="no-js lte-ie8">
/[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)] <html class="no-js" lang="en">
%head
  %meta{:charset => "utf-8"}/
  %title Open Your Project

  / Viewport slides: http://t.co/dKP3o1e
  %meta{:content => "True", :name => "HandheldFriendly"}/
  %meta{:content => "320", :name => "MobileOptimized"}/
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %link{:href => "/favicon.png", :rel => "icon"}/
  %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/stylesheets/home.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "/javascripts/modernizr-2.0.js"}
  %script{:src => "/javascripts/ender.js"}
  %script{:src => "/javascripts/octopress.js", :type => "text/javascript"}

  / d3
  %script{:src => "/javascripts/d3/d3.v2.js", :type => "text/javascript"}
  %link{:href => "/stylesheets/pack.css", :rel => "stylesheet", :type => "text/css"}/

  / Fonts from Google"s Web font directory at http://google.com/webfonts
  %link{:href => "http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}/
%body
  %header{:role => "banner"}
    %hgroup
      %h1
        %a{:href => "/"} Open Your Project
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        %span{:style => 'font-size: 12px; color: #d22;'}
          This is a pre-alpha test, not ready for prime time.
      %h2
        Collaborative sharing for social change projects
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        %span{:style => 'font-size: 12px; color: #d22;'}
          If you're like, WTF? You can
          %a{:href => "http://enlightenedstructure.org/Software_Zero/", :style => 'font-size: 12px; color: #d22; text-decoration: underline;'} learn more about the project here.
  %nav{:role => "navigation"}
    %form{:action => "http://google.com/search", :method => "get"}
      %fieldset{:role => "search"}
        %input{:name => "q", :type => "hidden", :value => "site:openyourproject.org"}/
        %input.search{:name => "q", :placeholder => "Search", :results => "0", :type => "text"}/
    %ul.main-navigation
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "/viz/collections"} Collections
  #main
    #content
      %div
        %article{:role => "article"}
          = yield

      %aside.sidebar
        %section
        -#%h1 Top Tags
        -##viz-tags
        -#%script{:src => "/javascripts/viz/tags.js", :type => "text/javascript"}
        -#%section
        -#  %h1 Top Collections
        -#  %a{:href=>'/collections'}
        -#    #viz-collections
        -#  %script{:src => "/javascripts/viz/collections.js", :type => "text/javascript"}
        -#%section
        -#  %h1 Tags
        -#  %ul#pages
        -#    %li.post
        -#      %a{:href => "/pub/Human_Potential/index.html"} Human Potential
        -#    %li.post
        -#      %a{:href => "/pub/Open_Source_Transformation/index.html"} Open Source Transformation
        -#    %li.post
        -#      %a{:href => "/pub/Quotations/index.html"} Quotes
        -#    %li.post
        -#      %a{:href => "/pub/Spiritual_Transhumanism/index.html"} Spiritual Transhumanism
        -#    %li.post
        -#      %a{:href => "/pub/The_Trust_Exchange_is_Landing/index.html"} The Trust Exchange is Landing



  %footer
    Free software for the open curation of the
    /%a{:href => 'http://creativecommons.org/about'}
    Creative Commons.&nbsp;

    An
    %a{:href => 'http://enlightenedstructure.org/Software_Zero/'} Enlightened Structure Software Zero
    project,

    powered by
    = succeed "," do
      %a{:href => 'http://fed.wiki.org/view/welcome-visitors/view/smallest-federated-wiki'} Smallest Federated Wiki

    responsive design by
    = succeed "." do
      %a{:href => "http://octopress.org"} Octopress
