/*            */
/* pages#new  */
/*            */

.open {
  margin-top: 1.77em;
}

.open .action {
  font-size: 2em;
  font-weight: bold;
}

ul.overview > li {
  list-style: none;
  margin-bottom: 1em;
}

/*input {*/
  /*margin-top: .33em;*/
  /*-moz-border-radius: 5px;*/
  /*-webkit-border-radius: 5px;*/
  /*-khtml-border-radius: 5px;*/
  /*border-radius: 5px;*/
/*}*/

/*input[type=text] {*/
  /*border: 1px solid #bbb;*/
  /*padding: 12px 8px;*/
  /*background-color: #f9f9f9;*/
  /*position: relative;*/
  /*width: 444px;*/
  /*color: #666;*/
/*}*/

/*input[type=submit] {*/
  /*padding: .33em 1em;*/
  /*cursor:pointer;*/
  /*color: #111;*/
/*}*/

/*input[type=submit]:hover {*/
  /*text-decoration: none;*/
  /*color: #ADD8E6;*/
  /*cursor: pointer;*/
  /*border: 1px solid #888;*/
/*}*/

/*              */
/* pages#indes  */
/*              */

circle {
  /*fill: rgb(31, 119, 180);*/
  fill-opacity: .25;
  /*stroke: rgb(31, 119, 180);*/
  stroke-width: 1px;
  /*fill: #ccc;*/
  /*stroke: #ccc;*/
  fill: #1f77b4;
  /*fill-opacity: .1;*/
  stroke: steelblue;
}

.leaf circle {
  fill-opacity: 0;
  pointer-events: none;
}

text {
  font: 12px sans-serif;
}

.leaf text {
  opacity: 0;
}

text.parent {
  fill: #1f77b4;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}